version: '3.9'

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - "mariadb:/var/lib/mysql"
    networks:
      - inception
    restart: always
      #    ports:
      #      - "3306:3306"

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - "wordpress:/var/www/html"
    networks:
      - inception
    depends_on:
      - mariadb
    restart: on-failure
      #    ports:
      #      - "9000:9000"

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - "wordpress:/var/www/html"
    networks:
      - inception
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: on-failure

volumes:
  mariadb:
       driver: local
       driver_opts:
         type: 'none'
         o: 'bind'
         device: '/home/kdi-noce/data/mariadb'

  wordpress:
      driver: local
      driver_opts:
        type: 'none'
        o: 'bind'
        device: '/home/kdi-noce/data/wordpress'
    
networks:
  inception:
    driver: bridge
