version: '3'

services:
  mariadb:
    image: mariadb
    container_name: mariadb
    cpus: 0.5
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    env_file: .env
    restart: on-failure
    expose:
      - "3306"

  wordpress:
    image: wordpress
    container_name: wordpress
    cpus: 0.5
    env_file: .env
    volumes:
      - wordpress:/var/www/nginx
    networks:
      - inception
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    restart: on-failure
    expose:
      - "9000"

  nginx:
    image: nginx
    container_name: nginx
    cpus: 0.5
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - wordpress
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "443:443"
    restart: on-failure

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/Users/kdi-noce/data/wordpress'

  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/Users/kdi-noce/data/mariadb'

networks:
  inception:
    driver: bridge
